/**************/
/* BACKUP TAB */
/**************/

div#backupTab {
    padding-top: 1%;
}

    div#backupTab table#backupOptions {
        display: inline-block;
        width: 25%;
        vertical-align: middle;
        padding-left: 1%;
    }

        div#backupTab table#backupOptions tbody {
            display: block;
            width: 100%;
            height: initial;
        }

            div#backupTab table#backupOptions tbody tr {
                display: block;
                width: 100%;
            }

                div#backupTab table#backupOptions tbody tr td {
                    display: inline-block;
                    width: 50%;
                }

                    div#backupTab table#backupOptions tbody tr td button {
                        width: 100%;
                        padding-right: 1%;
                        display: inline;
                        margin-right: 1%;
                    }

                        div#backupTab table#backupOptions tbody tr td button img {
                            height: 40px;
                            width: auto;
                            vertical-align: middle;
                            margin: -20px;
                            margin-right: 0px;
                        }

    div#backupTab input[type="file"] {
        display: none;
    }

    div#backupTab table#tableBackupCronState {
        display: inline-block;
        width: 25%;
        vertical-align: middle;
        padding-left: 1%;
    }

        div#backupTab table#tableBackupCronState tbody#backupCronState {
            display: block;
            width: 100%;
        }

            div#backupTab table#tableBackupCronState tbody#backupCronState tr {
                display: block;
                width: 100%;
            }

                div#backupTab table#tableBackupCronState tbody#backupCronState tr td {
                    display: inline-block;
                    width: 50%;
                    color: white;
                }

    div#backupTab div#backupList {
        display: block;
    }

        div#backupTab div#backupList table {
            display: block;
            width: 100%;
        }

            div#backupTab div#backupList table tbody tr td:nth-child(1) {
                width: 18%;
                word-break: break-all;
            }

            div#backupTab div#backupList table tbody tr td:nth-child(2) {
                width: 10%;
                word-break: break-all;
            }

            div#backupTab div#backupList table tbody tr td:nth-child(3) {
                width: 50%;
                word-break: break-all;
                margin-right: 4%
            }

            div#backupTab div#backupList table tbody tr td:nth-child(4) {
                width: 5%;
                word-break: break-all;
            }

            div#backupTab div#backupList table tbody tr td:nth-child(5) {
                width: 2%;
                word-break: break-all;
            }

                div#backupTab div#backupList table tbody tr td:nth-child(5) img {
                    margin: -25%;
                    width: 75%;
                    height: auto;
                    vertical-align: middle;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: pointer;
                }

div#errorBackupList {
    display: block;
    width: 100%;
    height: 100%;
}

    div#errorBackupList img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: auto;
    }

    div#errorBackupList h5 {
        text-align: center;
        color: white;
    }

    div#errorBackupList p {
        text-align: center;
        color: white;
    }
