/***************/
/* CLIENTS TAB */
/***************/

div#llistaClients {
    display: block;
    background-color: #343a40;
}

    div#llistaClients table.TaulaClient {
        padding-top: 1%;
        display: block;
        width: 100%;
    }

        div#llistaClients table.TaulaClient tbody {
            width: 100%;
        }

            div#llistaClients table.TaulaClient tbody tr {
                width: 100%;
            }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(1) {
                    word-break: break-all;
                    width: 25%;
                    padding-right: 1%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(2) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(3) {
                    word-break: break-all;
                    width: 7%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(4) {
                    word-break: break-all;
                    width: 13%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(5) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(6) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(7) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(8) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient tbody tr td:nth-child(9) {
                    word-break: break-all;
                    width: 5%;
                }

                    div#llistaClients table.TaulaClient tbody tr td:nth-child(9) img {
                        cursor: pointer;
                        width: 50%;
                        height: auto;
                        vertical-align: middle;
                        margin-left: auto;
                        margin-right: auto;
                        cursor: pointer;
                    }

        div#llistaClients table.TaulaClient thead {
            width: 100%;
        }

            div#llistaClients table.TaulaClient thead tr {
                width: 100%;
            }

                div#llistaClients table.TaulaClient thead tr th:nth-child(1) {
                    word-break: break-all;
                    width: 25%;
                    padding-right: 1%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(2) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(3) {
                    word-break: break-all;
                    width: 7%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(4) {
                    word-break: break-all;
                    width: 13%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(5) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(6) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(7) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(8) {
                    word-break: break-all;
                    width: 10%;
                }

                div#llistaClients table.TaulaClient thead tr th:nth-child(9) {
                    word-break: break-all;
                    width: 5%;
                }

/******************/
/* CLIENT DETAILS */
/******************/

div#clientDetails input#importJSONfile {
    display: none;
}

div#clientDetails table tbody tr td:nth-child(1) {
    word-break: break-all;
    font-family: MONOSPACE;
    font-weight: 600;
    font-size: 15px;
}

div#clientDetails div.modal-lg {
    max-width: 80% !important;
}

/***********************/
/* CONFIGURE ALL MODAL */
/***********************/

div#renderClientDetails div#configureAllModal table tbody tr td:nth-child(1) {
    vertical-align: middle;
}

/*****************/
/* EMPTY MESSAGE */
/*****************/

div#emptyClientList {
    display: block;
    width: 100%;
    height: 100%;
}

    div#emptyClientList img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: auto;
    }

    div#emptyClientList h5 {
        text-align: center;
        color: white;
    }

/**************/
/* SEARCH BAR */
/**************/

div#llistaClients nav {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
}

    div#llistaClients nav li.nav-item:nth-child(1) {
        padding-right: 2.5% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

        div#llistaClients nav li.nav-item:nth-child(1) button {
            width: 150px;
        }

    div#llistaClients nav li.nav-item:nth-child(2) {
        padding-right: 15% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    div#llistaClients nav li.nav-item:nth-child(3) div.input-group {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    div#llistaClients nav li.nav-item:nth-child(3) input.form-control {
        margin-right: 0 !important;
        width: 500px;
    }

div#renderEmptyResultMessage {
    margin-top: 1%;
    text-align: center;
    color: white;
    padding-bottom: 1%;
}
