/*****************/
/* DASHBOARD TAB */
/*****************/

div#dashboard {
    padding: 0%;
}

    div#dashboard div.card-columns {
        padding: 0.5%;
    }

        div#dashboard div.card-columns div.card div.card-body img.card-img-top {
            height: 50px;
            width: auto;
            display: block;
            margin: auto;
        }

        div#dashboard div.card-columns div.card progress {
            width: 100%;
            margin-top: 1%;
        }

div#dashboardControls {
    display: block;
    padding: 1%;
    width: 20%;
    height: 10%;
    margin-left: 80%;
    margin-right: 0%;
}

    div#dashboardControls div {
        display: flex;
    }

        div#dashboardControls div button {
            display: inline;
            padding-right: 1%;
            display: inline;
            vertical-align: middle;
            width: 45% !important;
            margin-right: 5%;
        }

            div#dashboardControls div button img {
                display: inline;
                height: 40px;
                width: auto;
                vertical-align: middle;
                margin-top: -13px;
                margin-bottom: -10px;
                margin-left: -10px;
            }

        div#dashboardControls div select {
            width: 50% !important;
            vertical-align: middle;
        }

@media (min-width: 768px) {
    div #dashboard .card-columns {
        column-count: 4 !important;
    }
}

/*************************/
/* DASHBOARD TAB LOADING */
/*************************/

div#renderitzarPestanya div#dasboardLoading {
    display: block;
    height: 100%;
}

    div#renderitzarPestanya div#dasboardLoading img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div#renderitzarPestanya div#dasboardLoading h1 {
        text-align: center;
        color: white;
        font-family: MONOSPACE;
    }
