/********************/
/* DICTIONARIES TAB */
/********************/

div#diccionaris {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    div#diccionaris table {
        display: block;
        width: 100%;
    }

        div#diccionaris table tr {
            display: block;
            width: 100%;
        }

        div#diccionaris table tbody#llistaDiccionaris {
            display: block;
            width: 100%;
        }

            div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(1) {
                display: inline-block;
                word-break: break-all;
                width: 50%;
            }

            div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(2) {
                display: inline-block;
                word-break: break-all;
                width: 20%;
            }

            div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(3) {
                display: inline-block;
                word-break: break-all;
                width: 10%;
            }

            div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(4) {
                display: inline-block;
                word-break: break-all;
                width: 10%;
            }

                div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(4) img {
                    display: block;
                    vertical-align: middle;
                    margin-top: -2%;
                    width: 20%;
                    margin-left: auto;
                    margin-right: auto;
                    cursor: pointer;
                }

            div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(5) {
                display: inline-block;
                word-break: break-all;
                width: 10%;
            }

                div#diccionaris table tbody#llistaDiccionaris tr td:nth-child(5) img {
                    display: block;
                    vertical-align: middle;
                    width: 27%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -6%;
                    cursor: pointer;
                }

        div#diccionaris table thead {
            display: block;
            width: 100%;
        }

            div#diccionaris table thead tr th:nth-child(1) {
                display: inline-block;
                word-break: break-all;
                width: 50%;
            }

            div#diccionaris table thead tr th:nth-child(2) {
                display: inline-block;
                word-break: break-all;
                width: 20%;
            }

            div#diccionaris table thead tr th:nth-child(3) {
                display: inline-block;
                word-break: break-all;
                width: 10%;
            }

            div#diccionaris table thead tr th:nth-child(4) {
                display: inline-block;
                word-break: break-all;
                width: 10%;
                text-align: center;
            }

            div#diccionaris table thead tr th:nth-child(5) {
                display: inline-block;
                word-break: break-all;
                width: 10%;
                text-align: center;
            }

    /********/
    /* FORM */
    /********/

    div#diccionaris div#formDiccionaris form {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

        div#diccionaris div#formDiccionaris form fieldset {
            border-style: solid;
            border-color: #00000078;
            border-width: 1px;
            margin-top: 25px;
        }

            div#diccionaris div#formDiccionaris form fieldset legend {
                margin-left: 10px;
                color: #ff0000ad;
            }

            div#diccionaris div#formDiccionaris form fieldset label {
                margin-left: 20px;
                margin-right: 10px;
                color: white;
            }

        div#diccionaris div#formDiccionaris form input[type="file"]#fitxer {
            width: 98% !important;
            margin-left: 1%;
            background-color: transparent;
            color: white;
        }

        div#diccionaris div#formDiccionaris form textarea#descripcio {
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }

        div#diccionaris div#formDiccionaris form progress#progresPutjaDiccionari {
            width: 95%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1%;
        }

        div#diccionaris div#formDiccionaris form button {
            margin-left: 1%;
            margin-bottom: 1%;
        }

    /* MODAL WINDOW */

    div#diccionaris div#renderModal table {
        display: block;
        width: 100%;
    }

        div#diccionaris div#renderModal table tbody {
            display: block;
            width: 100%;
        }

        div#diccionaris div#renderModal table tr td:nth-child(1) {
            display: inline-block;
            width: 30%;
        }

        div#diccionaris div#renderModal table tr td:nth-child(2) {
            display: inline-block;
            width: 70%;
        }

        div#diccionaris div#renderModal table tr:nth-child(1) td:nth-child(2) {
            font-family: MONOSPACE;
            font-weight: 800;
            font-size: 15px;
        }

    div#diccionaris div#renderModal div#renderDesctiption p.description {
        margin: 0;
    }

    div#diccionaris div#renderModal div#showDescription textarea#editDescription {
        width: 100%;
    }

/*******************************/
/* DELETION ERROR MODAL WINDOW */
/*******************************/

div#renderComfirmModal div#dictionaryDeletionErrorModal div.modal-dialog table {
    word-break: break-all;
}

    div#renderComfirmModal div#dictionaryDeletionErrorModal div.modal-dialog table tbody tr td:nth-child(2) {
        font-family: MONOSPACE;
        font-weight: 500;
        font-size: 125%;
    }
