/***********************/
/* FINISHED HASHES TAB */
/***********************/

div#hashesFinalitzats {
    display: block;
    max-width: 100%;
}

    div#hashesFinalitzats div.row {
        max-width: 100% !important;
    }

        div#hashesFinalitzats div.row label {
            color: white;
        }

    div#hashesFinalitzats div#exportar div#loadingSpinner img {
        width: 50px;
        height: auto;
    }

    div#hashesFinalitzats div#exportar div#loadingSpinner h4 {
        display: inline;
        vertical-align: middle;
    }

div#hashesFinalitzats {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    div#hashesFinalitzats table.HashFinalitzat {
        display: block;
        width: 100%;
        margin-top: 1%;
        margin-bottom: 0 !important;
    }

        div#hashesFinalitzats table.HashFinalitzat tbody tr {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: #00000059;
        }

            div#hashesFinalitzats table.HashFinalitzat tbody tr:hover {
                background-color: #00000054;
            }

            div #hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(1) {
                word-break: break-all;
                width: 55%;
                font-family: MONOSPACE;
                font-size: 14px;
                font-weight: 600;
            }

            div#hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(2) {
                word-break: break-all;
                width: 6%;
                padding-left: 2%;
            }

            div#hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(3) {
                word-break: break-all;
                width: 6%;
            }

            div#hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(4) {
                word-break: break-all;
                width: 6%;
            }

            div#hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(5) {
                word-break: break-all;
                width: 20%;
            }

            div#hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(6) {
                word-break: break-all;
                width: 5%;
            }

                div#hashesFinalitzats table.HashFinalitzat tbody tr td:nth-child(6) img {
                    width: 50%;
                    height: auto;
                    vertical-align: middle;
                    cursor: pointer;
                }

        div #hashesFinalitzats table.HashFinalitzat thead tr th:nth-child(1) {
            width: 55%;
        }

        div#hashesFinalitzats table.HashFinalitzat thead tr th:nth-child(2) {
            width: 6%;
            padding-left: 2%;
        }

        div#hashesFinalitzats table.HashFinalitzat thead tr th:nth-child(3) {
            width: 6%;
        }

        div#hashesFinalitzats table.HashFinalitzat thead tr th:nth-child(4) {
            width: 6%;
        }

        div#hashesFinalitzats table.HashFinalitzat thead tr th:nth-child(5) {
            width: 20%;
        }

        div#hashesFinalitzats table.HashFinalitzat thead tr th:nth-child(6) {
            width: 5%;
        }

    /* SEARCH */

    div#hashesFinalitzats div#renderNoReultsFound h3 {
        font-family: MONOSPACE;
        color: white;
        text-align: center;
        font-size: 45px;
        margin-top: 10px;
    }

    div#hashesFinalitzats div#exportar {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

        div#hashesFinalitzats div#exportar button {
            display: block;
            margin: auto;
            vertical-align: middle;
        }

        div#hashesFinalitzats div#exportar div#loadingSpinner {
            display: block;
            margin: auto;
            vertical-align: middle;
        }

            div#hashesFinalitzats div#exportar div#loadingSpinner h4 {
                color: white;
                font-family: MONOSPACE;
                font-size: 200%;
            }

/****************/
/* MODAL WINDOW */
/****************/

div#modalHashDetails div.modal-body h5 {
    word-break: break-all;
}

div#modalHashDetails div.modal-body table.hashModalDetails {
    width: 100%;
}

    div#modalHashDetails div.modal-body table.hashModalDetails tbody tr {
        border-bottom-style: solid;
        border-bottom-color: #00000078;
        border-bottom-width: 1px;
    }

        div#modalHashDetails div.modal-body table.hashModalDetails tbody tr td:nth-child(1) {
            width: 50%;
        }

        div#modalHashDetails div.modal-body table.hashModalDetails tbody tr td:nth-child(2) {
            width: 50%;
        }

div#modalHashDetails div.modal-body p#caractersPreview {
    background-color: red;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: bolder;
    word-break: break-all;
    font-family: MONOSPACE;
}

div#modalHashDetails div.modal-body p.description {
    word-break: break-all;
    margin: 0;
}

div#modalHashDetails div.modal-body h5 {
    font-family: MONOSPACE;
    font-weight: 600;
    font-size: 20px;
}

div#modalHashDetails div.modal-body table.hashModalDetails tbody tr:nth-child(1) td:nth-child(2) {
    font-family: MONOSPACE;
    font-weight: 500;
    font-size: 15px;
}

div#modalHashDetails div.modal-body table#dictionaryDetails tbody tr:nth-child(1) td:nth-child(2) {
    font-family: MONOSPACE;
    font-weight: 500;
    font-size: 15px;
}

/* EDIT MODE */

div#modalHashDetails div#modal-footer small {
    font-size: 15px;
    font-weight: 700;
}
