/**********/
/* GLOBAL */
/**********/

html, body, div#root, div#pantalla {
    margin-top: 0;
    display: block;
    height: 100%;
    width: 100%;
}

div.navbar {
    max-height: 6%;
}

div#renderitzarPestanya {
    display: block;
    width: 100%;
    min-height: 94%;
}

input#fitxerJSON {
    display: none;
}

div#importOrExport {
    margin-top: 0;
    margin-bottom: 3%;
}

    div#importOrExport button {
        margin-left: 1%;
    }

/**************/
/* DARK THEME */
/**************/

div#renderitzarPestanya {
    background-color: rgba(52, 58, 64, 0.81);
}

div.modal-header, div.modal-footer {
    background-color: #343a40;
    color: white;
}

div.modal-body {
    background-color: #333;
    color: white;
}

    div.modal-body pre {
        color: white;
    }

/******************/
/* LOADING SCREEN */
/******************/

div#loadingScreen {
    display: block;
    width: 100%;
}

    div#loadingScreen img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div#loadingScreen h3 {
        text-align: center;
    }

/*************/
/* BOOTSTRAP */
/*************/

.card {
    width: 18rem;
}

/************************/
/* SWITCHES AND TOGGLES */
/************************/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin-right: 4px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 24px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*******************/
/* Rounded sliders */
/*******************/

.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/*************************/
/* EXPORT TO JSON BUTTON */
/*************************/

button.exportToJSON {
    line-height: 1.5;
}

    button.exportToJSON img {
        vertical-align: middle;
        height: 25px;
        margin-top: -28px;
        margin-bottom: -22px;
    }

/********/
/* DATA */
/********/

data {
    display: none;
}

/*********************************/
/* VERSION MISMATCH ERROR SCREEN */
/*********************************/

div#versionMismatchError {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

    div#versionMismatchError h3 {
        font-size: 1.5em;
        font-weight: bolder;
        margin-bottom: -1%;
    }

    div#versionMismatchError h1 {
        font-size: 2.5em;
    }

    div#versionMismatchError h3, div#versionMismatchError h1 {
        color: red;
        font-family: MONOSPACE;
        text-align: center;
    }

    div#versionMismatchError div#description {
        margin-top: 5%;
    }

        div#versionMismatchError div#description p {
            font-size: 0.6em;
            text-align: center;
        }

    div#versionMismatchError small {
        font-size: 0.4em;
        text-align: center;
    }

div#versionMismatchScreen img.imatgeMenu {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

div#versionMismatchScreen h5 {
    position: absolute;
    color: white;
    font-weight: bolder;
    margin-left: 50px;
    margin-top: 10px;
}
