/******************/
/* HASH QUEUE TAB */
/******************/

div#contenidorHashesCua {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #343a40;
}

    div#contenidorHashesCua div#importOrExport div#export {
        display: inline;
    }

        div#contenidorHashesCua div#importOrExport div#export div#loadingSpinner {
            display: inline;
        }

            div#contenidorHashesCua div#importOrExport div#export div#loadingSpinner img {
                width: 50px;
                height: auto;
            }

            div#contenidorHashesCua div#importOrExport div#export div#loadingSpinner h4 {
                display: inline;
                vertical-align: middle;
            }

    /*********/
    /* TABLE */
    /*********/

    div#contenidorHashesCua table.HashCua {
        width: 100%;
    }

        div#contenidorHashesCua table.HashCua tbody tr:hover {
            background-color: #00000054;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(1) {
            width: 60%;
            word-break: break-all;
            padding-right: 2.5%;
            font-family: MONOSPACE;
            font-weight: 600;
            font-size: 15px;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(2) {
            width: 5%;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(3) {
            width: 5%;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(4) {
            width: 10%;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(5) {
            width: 10%;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(6) {
            width: 5%;
        }

        div#contenidorHashesCua table.HashCua td:nth-child(7) {
            width: 5%;
        }

            div#contenidorHashesCua table.HashCua td:nth-child(7) img {
                width: 50%;
                height: auto;
                vertical-align: middle;
                cursor: pointer;
            }

        div#contenidorHashesCua table.HashCua thead tr:nth-child(1) {
            border-bottom-color: black;
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }

        div#contenidorHashesCua table.HashCua tbody tr {
            border-bottom-color: #00000069;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }

    div#contenidorHashesCua div#formHashesCua form button {
        margin-top: 1%;
        margin-left: 1%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(1) {
        width: 60%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(2) {
        width: 5%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(3) {
        width: 5%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(4) {
        width: 10%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(5) {
        width: 10%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(6) {
        width: 5%;
    }

    div#contenidorHashesCua table.HashCua th:nth-child(7) {
        width: 5%;
    }

    /********/
    /* FORM */
    /********/

    div#contenidorHashesCua div#formHashesButtons {
        margin-left: 1%;
    }

        div#contenidorHashesCua div#formHashesButtons button:nth-child(2) {
            margin-left: 25px;
        }

        div#contenidorHashesCua div#formHashesButtons button:nth-child(3) {
            margin-left: 25px;
        }

    div#contenidorHashesCua div#formHashesCua form {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

        div#contenidorHashesCua div#formHashesCua form label {
            color: white;
        }

        div#contenidorHashesCua div#formHashesCua form fieldset {
            border-style: solid;
            border-color: #FFFFFF78;
            border-width: 1px;
            margin-top: 25px;
            padding: 1%;
        }

            div#contenidorHashesCua div#formHashesCua form fieldset legend {
                padding-left: 10px;
                color: #ff0000ad;
                margin: 0;
            }

            div#contenidorHashesCua div#formHashesCua form fieldset label {
                margin-left: 20px;
                margin-right: 10px;
            }

            div#contenidorHashesCua div#formHashesCua form fieldset input[type="text"]#hash {
                width: 50%;
            }

            div#contenidorHashesCua div#formHashesCua form fieldset input.primerCaracter, input.ultimCaracter {
                display: inline-block;
                width: 80%;
            }

            div#contenidorHashesCua div#formHashesCua form fieldset p.previewCaracter {
                display: inline;
                background-color: red;
                color: #FFF;
                padding: 5px 10px 5px 10px;
                margin-left: 25px;
                font-family: MONOSPACE;
            }

            div#contenidorHashesCua div#formHashesCua form fieldset p.previewCaracters {
                background-color: red;
                color: #FFF;
                padding: 5px 10px 5px 10px;
                text-align: center;
                font-weight: bolder;
                word-break: break-all;
                font-family: MONOSPACE;
            }

            div#contenidorHashesCua div#formHashesCua form fieldset textarea#descripcio {
                margin-left: 1%;
                width: 50%;
            }

        div#contenidorHashesCua div#formHashesCua form div#selectDictionaryModal table {
            width: 100%;
        }

            div#contenidorHashesCua div#formHashesCua form div#selectDictionaryModal table td:nth-child(1) {
                width: 1%;
            }

            div#contenidorHashesCua div#formHashesCua form div#selectDictionaryModal table td:nth-child(2) {
                width: 33%;
                word-break: break-all;
                font-family: MONOSPACE;
            }

            div#contenidorHashesCua div#formHashesCua form div#selectDictionaryModal table td:nth-child(3) {
                width: 50%;
            }

            div#contenidorHashesCua div#formHashesCua form div#selectDictionaryModal table td:nth-child(4) {
                width: 10%;
            }

        div#contenidorHashesCua div#formHashesCua form div#renderDictionarySel button {
            display: inline-block;
            width: 15%;
        }

        div#contenidorHashesCua div#formHashesCua form div#renderDictionarySel table {
            display: inline-block;
            margin-left: 3%;
            width: 80%;
            color: white;
        }

            div#contenidorHashesCua div#formHashesCua form div#renderDictionarySel table tbody tr td:nth-child(1) {
                width: 33%;
                font-size: 110%;
                word-break: break-all;
                font-family: MONOSPACE;
            }

            div#contenidorHashesCua div#formHashesCua form div#renderDictionarySel table td:nth-child(2) {
                width: 50%;
            }

            div#contenidorHashesCua div#formHashesCua form div#renderDictionarySel table td:nth-child(3) {
                width: 10%;
            }

    div#contenidorHashesCua div.row {
        max-width: 100% !important;
    }

    /***********************/
    /* IMPORT MODAL WINDOW */
    /***********************/

    div#contenidorHashesCua div#importQueueModal div.modal-lg {
        max-width: 80% !important;
    }

    div#contenidorHashesCua div#importQueueModal table img {
        height: 50px;
        cursor: pointer;
    }

/********************/
/* LAUCH MODAL TEST */
/********************/

div#hashPerformanceTestModal div.modal-body input.primerCaracter, input.ultimCaracter {
    display: inline-block;
    width: 80%;
}

div#hashPerformanceTestModal div.modal-body p.previewCaracter {
    display: inline;
    background-color: red;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    margin-left: 15px;
    font-family: MONOSPACE;
}

div#hashPerformanceTestModal div.modal-body p.previewCaracters {
    background-color: red;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: bolder;
    word-break: break-all;
    font-family: MONOSPACE;
}

div#hashPerformanceTestModal div.modal-body div#previewCombinations {
    align-content: center;
    text-align: center;
}

div#hashPerformanceTestModal div.modal-body div progress {
    width: 100%;
}

div#hashPerformanceTestModal div.modal-body div p.progressing {
    text-align: center;
}

div#hashPerformanceTestModal div.modal-body div#hashPerformanceTestResults div.card-group div.card {
    background-color: #333333;
}

    div#hashPerformanceTestModal div.modal-body div#hashPerformanceTestResults div.card-group div.card p.card-text {
        font-size: 1.25rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.2;
    }

    div#hashPerformanceTestModal div.modal-body div#hashPerformanceTestResults div.card-group div.card h5.card-title {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }

div#hashPerformanceTestModal div.modal-body div#hashPerformanceTestResults div#emtpyClientsError img {
    display: block;
    margin: auto;
}

div#hashPerformanceTestModal div.modal-body div#hashPerformanceTestResults div#emtpyClientsError h5 {
    text-align: center;
}

div#hashPerformanceTestModal div.modal-body div#hashPerformanceTestResults div#emtpyClientsError small {
    display: block;
    text-align: center;
}

div#hashPerformanceTestModal div.modal-body div#connectClientAlert {
    background-color: rgba(52, 58, 64, 0.81);
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

    div#hashPerformanceTestModal div.modal-body div#connectClientAlert h4 {
        color: white;
        margin: 0;
    }

        div#hashPerformanceTestModal div.modal-body div#connectClientAlert h4 img {
            width: auto;
            height: 50px;
        }

    div#hashPerformanceTestModal div.modal-body div#connectClientAlert p {
        color: white;
    }
