/****************/
/* LOGIN SCREEN */
/****************/

div#loginScreen img {
    border-radius: 25%;
    height: 175px;
}

div#loginScreen a.brk-btn {
    cursor: pointer;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div#loginScreen input.pwd {
    border: none;
    border-bottom: 2px solid red;
    background-color: transparent;
    color: white;
    font-family: monospace;
    text-align: center;
    margin-bottom: 3%;
}

div#loginScreen header.App-header small {
    position: relative;
    font-size: 20px;
    color: #00cdffe6;
    text-align: center;
}

div#loginScreen input#recordarLogin[type="checkbox"] {
    display: inline;
    margin-right: 10px;
}

div#loginScreen label[for="recordarLogin"] {
    display: inline;
    color: #ff000094;
    font-size: 25px;
}

div#loginScreen img.imatgeMenu {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

/* CHANGE PWD */

div#loginScreen div#loginScreenChanging div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#loginScreen label {
    font-size: 1rem;
}
