div#logsList {
    max-width: 100%;
}

    div#logsList div.row {
        max-width: 100% !important;
    }

    div#logsList div#options div.row div.col label {
        display: inline-block;
        margin-right: 1%;
        color: white;
        vertical-align: central;
    }

    div#logsList div#options div.row div.col div#input-group {
        display: inline-block;
    }

        div#logsList div#options div.row div.col div#input-group div.input-group.mb-3 {
            width: 300px !important;
            margin: 0 !important;
        }

    div#logsList div#options div.row div.col input {
        display: inline-block;
        height: 40px !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div#logsList div#options div.row div.col:nth-child(1) {
        max-width: 180px !important;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
    }

    div#logsList div#options div.row div.col:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div#logsList div#options div.row div.col:nth-child(3) input {
        width: 250px !important;
    }

    div#logsList div#options div.row div.col:nth-child(4) select {
        display: inline-block;
        width: 250px !important;
        height: 40px !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div#logsList div#options div.row div.col div#input-group div.input-group.mb-3 button {
        height: 40px !important;
        width: 110px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    div#logsList div#options div#exportLogs img#loadingSpinner {
        width: 50px;
        height: auto;
    }

    div#logsList table {
        max-width: 100% !important;
    }

        div#logsList table tbody tr td:nth-child(1) {
            padding: 0;
        }

            div#logsList table tbody tr td:nth-child(1) img {
                width: 50px;
                height: auto;
                margin: 0;
            }

        div#logsList table tbody tr td:nth-child(5) img {
            width: 30px;
            height: auto;
            cursor: pointer;
            margin: auto;
            vertical-align: central;
        }

    div#logsList div#renderModal div#ajustosServer h4 img {
        width: 24px;
        margin: -15px;
        margin-right: 0px;
        vertical-align: middle;
    }

/*********************/
/* EROR LOADING LOGS */
/*********************/

div#logsListError {
    display: block;
}

    div#logsListError img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
        width: 20%;
        height: auto;
    }

    div#logsListError h3 {
        margin-top: 5%;
        color: white;
        text-align: center;
    }

    div#logsListError p {
        color: white;
        text-align: center;
    }
