/********/
/* MENU */
/********/

nav .navbar {
}

    nav.navbar li.nav-item a.nav-link img {
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }

    nav.navbar li.nav-item:nth-child(1) a.nav-link img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin: -15px;
        margin-right: -5px;
    }

    nav.navbar a#dropdownMenuLink img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin: -15px;
        margin-right: -5px;
    }

    nav.navbar li.nav-item:nth-child(5) a.nav-link img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin: -15px;
        margin-right: -5px;
    }

    nav.navbar a.navbar-brand {
        font-weight: bold;
    }

        nav.navbar a.navbar-brand img.imatgeMenu {
            border-radius: 50%;
            border-style: solid;
            border-width: 1px;
            border-color: red;
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

    nav.navbar div#indicadorRefrescar img {
        width: 25px;
        height: auto;
        -webkit-animation-name: refrescant;
        -webkit-animation-duration: 2s;
        -webkit-animation: scaleme 1s forwards;
        animation-name: refrescant;
        animation-duration: 2s;
    }

    nav.navbar button.botoRefrescar {
        margin-left: 10px;
    }

        nav.navbar button.botoRefrescar img.imgBotoRefrescar {
            width: 45px;
            height: 45px;
            vertical-align: middle;
            margin: -10px;
            margin-right: -5px;
        }

    nav.navbar div.botoDesconectar {
        margin-left: 10px;
    }

        nav.navbar div.botoDesconectar div a img {
            width: 32px;
            height: auto;
            vertical-align: middle;
        }

    /* HIDE TAGS */

    nav.navbar div#navbarNav ul li a p {
        display: inline;
    }

    nav.navbar div#navbarNav.hideTags ul li.active a img {
        border-bottom-color: red;
        border-bottom-style: solid;
        border-bottom-width: 3px;
    }
