/****************/
/* RAINBOWS TAB */
/****************/

html body div#root div#pantalla div#renderitzarPestanya div#rainbowsTab nav a#loadingSpinner img {
    height: 50px;
    width: auto;
    margin-top: -15px;
    margin-bottom: -15px;
    vertical-align: middle;
}

html body div#root div#pantalla div#renderitzarPestanya div#rainbowsTab {
    display: block;
    width: 100%;
}

    html body div#root div#pantalla div#renderitzarPestanya div#rainbowsTab div#cardContainer.card-deck {
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }

    html body div#root div#pantalla div#renderitzarPestanya div#rainbowsTab div#listRainbows.card-deck {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 1% !important;
    }

        html body div#root div#pantalla div#renderitzarPestanya div#rainbowsTab div#listRainbows.card-deck div.card h6 span.badge {
            margin-right: 3%;
        }

div#rainbowsTab div#rainbowOptions nav {
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
}

    div#rainbowsTab div#rainbowOptions nav li.nav-item:nth-child(1) {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    div#rainbowsTab div#rainbowOptions nav li.nav-item:nth-child(2) div.input-group {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    div#rainbowsTab div#rainbowOptions nav li.nav-item:nth-child(2) input.form-control {
        margin-right: 0 !important;
    }

/****************/
/* MODAL WINDOW */
/****************/

div#rainbowsTab div#renderRainbowModal div#rainbowModal div.modal-body p#caractersPreview {
    background-color: red;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-weight: bolder;
    word-break: break-all;
    font-family: MONOSPACE;
    margin-bottom: 0;
    margin-top: 10px;
}

div#rainbowsTab div#renderRainbowModal div#rainbowDetailsModal table#rainbowDetailsTable tbody tr:nth-child(1) td:nth-child(2) {
    font-family: MONOSPACE;
    font-weight: 600;
    font-size: 15px;
}
