/********/
/* MENU */
/********/

nav#settingsTabMenu {
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: black;
    padding-left: 15%;
    padding-right: 15%;
}

    nav#settingsTabMenu h3 {
        display: inline;
        vertical-align: middle;
        color: white;
    }

    nav#settingsTabMenu h5 {
        display: inline;
        vertical-align: middle;
        margin-left: 20px;
        color: #FFFFFFAA;
    }

    nav#settingsTabMenu img {
        width: 50px;
        margin: -25px;
        margin-right: 0px;
        vertical-align: middle;
    }

/****************/
/* SETTINGS TAB */
/****************/

div#guardatConfSrv {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

    div#guardatConfSrv img#desar {
        margin-right: -10px;
        -webkit-animation-name: refrescant;
        -webkit-animation-duration: 1s;
        -webkit-animation: scaleme 1s forwards;
        animation-name: refrescant;
        animation-duration: 1s;
    }

    div#guardatConfSrv img#gearICO {
        margin-right: -12px;
        width: 38px;
        height: 38px;
    }

@-webkit-keyframes refrescant {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes refrescant {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

div#pantallaAjustos {
    margin-top: 20px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

    div#pantallaAjustos button.btn.btn-primary:before {
        content: 'Hide';
    }

    div#pantallaAjustos button.btn.btn-primary.collapsed:before {
        content: 'Show';
    }

    div#pantallaAjustos label {
        color: white;
    }

    div#pantallaAjustos input {
        margin-left: 15px;
    }

        div#pantallaAjustos input[type="checkbox"] {
            margin-left: 5px;
            margin-right: 5px;
        }

        div#pantallaAjustos input.inputllarg {
            width: 100%;
            margin-left: 15px;
        }

    div#pantallaAjustos h4 {
        color: #EEEEEE;
        margin-top: 3%;
    }

        div#pantallaAjustos h4 img {
            width: 24px;
            margin: -15px;
            margin-right: 0px;
            vertical-align: middle;
        }

    div#pantallaAjustos h5 img[alt="enmagatzenamentICO"] {
        width: 35px;
        margin-right: -5px;
    }

    div#pantallaAjustos h5 img[alt="mongodbICO"] {
        width: 40px;
        margin-right: -5px;
    }

    div#pantallaAjustos h6 {
        color: #DDDDDD;
    }

    /***************************/
    /* MODAL COLLECTION WINDOW */
    /***************************/

    div#pantallaAjustos div#renderitzarModal div#selectCollectionsModal table img {
        width: 50px;
        margin: -25px;
        margin-left: 0;
        cursor: pointer;
    }

    /******************************/
    /* ADDRESS RESTRICTIONS MODAL */
    /******************************/

    div#pantallaAjustos div#renderitzarModal div#socketAddrList table img {
        width: 50px;
        margin: -25px;
        margin-left: 0;
        cursor: pointer;
    }

    /*************************/
    /* CHANGE PASSWORD MODAL */
    /*************************/

    div#pantallaAjustos div#changePwdModalCenter div.row {
        width: 100%;
    }

/**********************/
/* CERTIFICATES MODAL */
/**********************/

div#renderitzarModal div#uploadSocketCertModal table img {
    width: 50%;
    height: 50%;
}

div#renderitzarModal div#uploadSocketCertModal div.modal-lg {
    max-width: 80% !important;
}

div#renderitzarModal div#uploadSocketCertModal table tr th {
    cursor: pointer;
}

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(1) {
    width: 1%;
}

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(2) {
    width: 29%;
}

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(3) {
    width: 10%;
}

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(4) {
    width: 20%;
}

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(5) {
    font-family: MONOSPACE;
    font-size: 15px;
    width: 30%;
}

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(6) {
    width: 5%;
}

    div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(6) img {
        vertical-align: middle;
        margin: -50%;
        width: 100%;
        cursor: pointer;
    }

div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(7) {
    width: 5%;
}

    div#renderitzarModal div#uploadSocketCertModal table tr td:nth-child(7) img {
        vertical-align: middle;
        margin: -50%;
        width: 100%;
        cursor: pointer;
    }

div#uploadSocketCertModal table thead th img {
    vertical-align: middle;
    margin-top: -10%;
    margin-bottom: -10%;
    width: 15% !important;
}

    div#uploadSocketCertModal table thead th img.descending {
        transform: rotate(180deg);
    }

/*****************/
/* MONGODB ALERT */
/*****************/

div#pantallaAjustos div#useMongoAlert {
    background-color: rgba(52, 58, 64, 0.81);
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

    div#pantallaAjustos div#useMongoAlert h4 {
        color: white;
    }

        div#pantallaAjustos div#useMongoAlert h4 img {
            width: auto;
            height: 50px;
        }

    div#pantallaAjustos div#useMongoAlert p {
        color: white;
    }
