/**************/
/* TOKENS TAB */
/**************/

div#tokensTab {
    width: 100%;
}

    div#tokensTab table {
        width: 100%;
        display: block;
    }

        div#tokensTab table tbody {
            width: 100%;
        }

            div#tokensTab table tbody tr {
                width: 100%;
            }

                div#tokensTab table tbody tr td:nth-child(1) {
                    width: 5%;
                }

                div#tokensTab table tbody tr td:nth-child(2) {
                    word-break: break-all;
                    font-family: MONOSPACE;
                    font-size: 1.2rem;
                    width: 75%;
                }

                div#tokensTab table tbody tr td:nth-child(3) {
                    word-break: break-all;
                    width: 15%;
                }

                div#tokensTab table tbody tr td:nth-child(4) {
                    width: 5%;
                }

                    div#tokensTab table tbody tr td:nth-child(4) img {
                        width: 50%;
                        margin: -25%;
                        vertical-align: middle;
                        margin-left: auto;
                        margin-right: auto;
                        cursor: pointer;
                    }

        div#tokensTab table thead {
            width: 100%;
        }

            div#tokensTab table thead tr {
                width: 100%;
            }

                div#tokensTab table thead tr th:nth-child(1) {
                    width: 5%;
                }

                div#tokensTab table thead tr th:nth-child(2) {
                    width: 75%;
                }

                div#tokensTab table thead tr th:nth-child(3) {
                    width: 15%;
                }

                div#tokensTab table thead tr th:nth-child(4) {
                    width: 5%;
                }
