.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    margin-bottom: 1%;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

    .App-header small {
        font-size: 0.40em;
        width: 40%;
        display: block;
        position: absolute;
        bottom: 1%;
    }

.App-link {
    color: #09d3ac;
}
